.MatchSmallCard{
    padding: 10px;
    margin-bottom: 20px;
    .lost-card{
        background-color: #a34d5d;
    }
    .won-card{
        background-color: #4da375;
    }
    .match-result{
        margin-top: 10px;

    }
}

