.YearSelector{
    text-align: right;
    list-style-type: none;
    li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .selected{
        background-color: rebeccapurple;
    }
    .unselected{
        background-color: aquamarine;
    }
}